@model Aplikacija.Employees

@{
    ViewBag.Title = "Register";
}

<div class="inner-container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <h3>Employees List: @Html.ActionLink("Show", "ShowEmployees", new { }, new { @class = "btn btn-info btn-md" })</h3>
        </div>
    </div>
    <hr />
    <h2 class="text-center">Register New Employee</h2>
    <br />
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Confirm Password", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.Editor("confirmPassword", new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessage("Password doesn't match", "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 submit-btn">
                            <input type="submit" value="Register" class="btn btn-warning btn-block" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
